<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>Petitions Home</title>
</head>

<body>
<h1> Petitions Directory </h1>
<br />
<img src="petition1.png" alt="petition1" width="500" height="400">
<br />
<h2> Welcome to petitions directory </h2>
<h3> Please use the links below to;
    <li>Create a new petition,     <a href="/create">Create </a> </li>
    <li>View all the petitions,     <a href="/viewall">View </a> </li>
    <li>Search for a petition,     <a href="/search">Search </a> </li>
</h3>
<br />
</body>
</html>