<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <title>Petitions Home</title>
</head>

<body>
<h1> Petitions Directory </h1>
<br />
<br />
<img src="petition2.png" alt="petition2" width="1000" height="200">
<br />
<br />
<p>Welcome to petitions directory. Please use the links below to create a new petition,
    view all the petitions or search for a petition. Subsequently, you will be able to
    sign a petition.</p>
<br />
<ul>
    <li> <a href="/create">Create new petition</a> </li>
    <li> <a href="/viewall">View all petitions</a> </li>
    <li> <a href="/search">Search for a petition</a> </li>
</ul>
</body>

</html>